<div class="container-principal">
  <div class="container-label-tabela margen-container">
    <div class="container-titulo">
      <label class="label-titulo">List movies</label>
    </div>
    <nz-table
      #basicTable
      [nzBordered]="true"
      [nzData]="filmes"
      [nzPageSize]="pageSize"
      [nzLoading]="loading"
      [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
      [nzTotal]="total"
      [nzFrontPagination]="false"
    >
      <thead>
        <tr>
          <th nzAlign="center" nzWidth="25%">ID</th>
          <th nzWidth="25%">
            <div class="container-label-escolha">
              <label>Year</label>
              <input
                #input
                class="tamanho-input"
                type="number"
                placeholder="Filter by year"
                (keyup)="filtrarPorAno()"
              />
            </div>
          </th>
          <th nzAlign="center" nzWidth="25%">Title</th>
          <th nzWidth="25%">
            <div class="container-label-escolha">
              <label>Winner?</label>
              <nz-select
                nzPlaceHolder="Yes/No"
                ngModel="Yes/No"
                (ngModelChange)="alterouGanhadores($event)"
              >
                <nz-option
                  *ngFor="let opcao of opcoes"
                  [nzValue]="opcao"
                  [nzLabel]="opcao"
                ></nz-option
              ></nz-select>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data">
          <td>{{ item.id }}</td>
          <td>{{ item.year }}</td>
          <td>{{ item.title }}</td>
          <td>{{ tratarDado(item.winner) }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
