<div class="container-label-tabela">
  <div class="titulo">
    <label>List years with multiple winners</label>
  </div>

  <nz-table
    #basicTable
    [nzBordered]="true"
    [nzData]="listaGanhadores"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th nzWidth="50%">Year</th>
        <th>Win Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td  nzWidth="50%">{{ item.year }}</td>
        <td>{{ item.winnerCount }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
