:host {
  height: 100%;
}

.container-tabelas {
  height: 100%;
  width: 100%;
  padding-inline: 30px;
  padding-top: 15px;
}

.container-topo,
.container-bottom {
  display: flex;
  width: 100%;
}

.padding-entre-conjuntos {
  padding-top: 15px;
}

.margin {
  margin-right: 15px;
}

nz-table {
  margin: 12px;
}
