:host {
    display: flex;
    flex-direction: column;

    height: 100%;
}

.container-body {
    flex-wrap: nowrap;
    flex: 1;
    overflow: auto;
}

.container-painel-lateral {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f8f9fa;

}


label {
    margin: 10px;
}

.meio {
    display: flex;
    flex-direction: column;
}

.margem-infos {
    margin: 10px;
    cursor: pointer;
}