<div class="container-label-tabela">
  <div class="titulo">
    <label>Top 3 sudios with winners</label>
  </div>

  <nz-table
    #basicTable
    [nzBordered]="true"
    [nzData]="listaTop3Ganhadores"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th nzWidth="50%">Name</th>
        <th nzWidth="50%">Win Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basicTable.data">
        <td>{{ item.name }}</td>
        <td>{{ item.winCount }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
